<% content_for :title do %>
    オラオラ
<% end %>

<h1>Hello#world</h1>
<p>Find me in app/views/hello/world.html.erb</p>

<% content_for :notice do %>
    <ul>
        <li>新着記事のお知らせ</li>
    </ul>
<% end %>
